.datepicker__input-container .datepicker__input {
  border: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
}

.datepicker__input-container .datepicker__input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}