.react-datepicker__input-container .react-datepicker__input {
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  margin-top: 0.2rem;
  line-height: 1.6rem;
}

.react-datepicker__day-name {
  color: #38ACD4;
}

.react-datepicker__input-container .react-datepicker__input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.react-datepicker__input-container {
  display: inline-block;
}

.react-datepicker__day--outside-month {
  font-size: 0 !important;
}

.react-datepicker {
  border: 1px solid #B5B6B6 !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  background-color: #415764 !important;
}

.react-datepicker__header {
  border: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #2F414B !important;
  background-color: #415764 !important;
  font-family: Gotham-Book !important;
  color: #ffffff !important;
}

.tether-element-attached-bottom .react-datepicker__triangle, .tether-element-attached-bottom .react-datepicker__triangle:before {
  border-bottom: none !important;
  border-top-color: #B5B6B6 !important;
}

.react-datepicker__day {
  color: #B5B6B6 !important;
  font-family: Gotham-Book !important;
}

.react-datepicker__day--selected {
  border-radius: 0px !important;
  background-color: #38ACD4 !important;
  color: #ffffff !important;
  font-family: Gotham-Bold !important;
}

.tether-element-attached-top .react-datepicker__triangle:before {
  border-bottom-color: #B5B6B6 !important;
}

.tether-element-attached-top .react-datepicker__triangle:before, .tether-element-attached-bottom .react-datepicker__triangle:before {
  border-bottom-color: #B5B6B6 !important;
}

.tether-element-attached-top .react-datepicker__triangle, .tether-element-attached-top .react-datepicker__triangle:before {
  border-top: none;
  border-bottom-color: #B5B6B6 !important;
}

.react-datepicker__current-month {
  color: #ffffff !important;
}

.react-datepicker__day--today {
  color: #ffffff !important;
  font-family: Gotham-Bold !important;
  /*font-size: 14px;*/
  text-decoration: underline;
}

.react-datepicker__day:hover {
  border-radius: 0px !important;
  background-color: #f0f0f0 !important;
  color: #333333 !important;
}


.react-datepicker__header .react-datepicker__day {
  color: #38ACD4 !important;
  font-family: Gotham-Book !important;
}

.react-datepicker__header .react-datepicker__day:hover {
  border-radius: 0px !important;
  background-color: #f0f0f0 !important;
  color: #333333 !important;
}
