.common {
  background: no-repeat center;
  padding: 10px 0px;
}

.normal {
  composes: common;
  background-image: url("/icons/chat-icon-gray.png");
  background-size: 17px 14px;
  padding-left: 22px;
}

.inverted {
  composes: common;
  background-image: url("/icons/chat-icon-white.png");
  background-size: 17px 14px;
  padding-left: 22px;
}

.small {
  composes: normal;
  background-size: 15px 13px;
  padding-left: 20px;
}

.large {
  composes: normal;
  background-size: 21px 17px;
  padding-left: 26px;
}

.x-large {
  composes: normal;
  background-size: 24px 20px;
  padding-left: 29px;
}

.inverted-small {
  composes: inverted small;
}

.inverted-large {
  composes: inverted large;
}

.inverted-x-large {
  composes: inverted x-large;
}