.common {
  background: no-repeat center;
}

.gray {
  background-image: url("/icons/chat-icon-gray.png");
}

.white {
  background-image: url("/icons/chat-icon-white.png");
}

@media only screen
and (max-width: 1440px) {
  .normal {
    composes: common;
    background-size: 17px 14px;
    min-width: 17px;
    min-height: 14px;
  }

  .large {
    composes: common;
    background-size: 21px 17px;
    min-width: 21px;
    min-height: 17px;
  }
}


@media only screen
and (min-width: 1441px) {
  .normal {
    composes: common;
    background-size: 34px 28px;
    min-width: 34px;
    min-height: 28px;
  }
  
  .large {
    composes: common;
    background-size: 42px 34px;
    min-width: 42px;
    min-height: 34px;
  }
}
