<!--<%= react_component('Root', {counter: 10}, {prerender: true} ) %>-->

<div class="col-xs-3">
  <%= react_component('AgendaRoot', {agendaItems: [{id: 1, title: 'Review Agenda List', conversationTitle: 'React Tutorial', commentsSize: 4}, {id: 2, title: 'Update Trello Specifications', conversationTitle: 'Functional Specifications', commentsSize: 34}]}, {prerender: true} ) %>
</div>

<div class="col-xs-6">
<%= react_component('SizungRoot', {comments: [{id: 1, text: 'hallo'}, {id: 2, text: 'welt'}]}, {prerender: true} ) %>
</div>
