.root {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.main-content {
  padding: 0px;
  position: absolute;
  top: 51px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background-color: #eeeeee;
}

.footer {
  composes: text-center text-muted from global;
  position: fixed;
  bottom: 0px;
  left:0px;
  right:0px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  font-size: smaller;

}