.root {
  position: relative;
  cursor: pointer;
  max-width: 100%;
}

.default {
  composes: card from '../../styles/modules/card.css';
  composes: hover-container from '../../styles/modules/hover.css';
  background-color: transparent;
  border: 1px solid #405663;
  width: 100%;
}

.selected {
  composes: default;
  composes: hover-container from '../../styles/modules/hover.css';
  background-color: #505964;
  color: #FFFFFF;
  /*border: 5px solid #ffffff;*/
}

.row {
  /*position: relative;*/
  width: 100%;
  min-height: 1em;
  margin-bottom: 1em;
}

.content-container {
  width: 100%;
  padding-right: 30px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  font-family: 'Gotham-Book';
  color: #ffffff;
}

.status-container {
  position: absolute;
  right: 10px;
  top: 10px;
}

.details-row {
  composes: row from global;
}

.user-container {
  composes: col-xs-4 zero-padding pull-right from global;
  /*padding: 0px 5px;*/
}

.due-on {
  composes: pull-left from global;
  margin-left: 5px;
  padding: 3px 5px;
  font-family: 'Gotham-Medium';
  font-size: 12px;
  color: #8a959f;
  background-color: #22233D;
}


.agenda-title-container {
  composes: col-xs-8 pull-left from global;
  padding: 5px 0px 0px 0px;
  height: 1.5em;
  text-align: left;
  font-family: 'Gotham-Light';
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  float: right;
  white-space: nowrap;
  color: #8a959f;
}

.assignee {
  display: inline-block;
  width: 50%;
  padding: 0px;
}

.details-row1 {
  composes: col-xs-12 from global;
  padding: 0px 10px 5px 10px;
}

.details-row2 {
  composes: row from global;
  padding: 0px 15px;
  margin: 0px;
}

.comments-count-container {
  composes: col-xs-4 from global;
  padding: 0px;
}
