.default {
  position: relative;
  width: 100%;
  min-height: 14.125rem;
  margin: 0 0 5px 0;
  padding: 0;
}

.default:after {
  content: '';
  clear: both;
  visibility: hidden;
}

.unseen {
  composes: default;
  border: 1px solid #415764;
  background-color: transparent;
  color : #ffffff;
}

.seen {
  composes: unseen;
  opacity: 0.5;
}

.selected {
  composes: default;
  border: 1px solid #415764;
  background-color: #415764;
  color : #ffffff;
}

.selected .titleContainer {
  font-family: Gotham-Medium;
}

.titleContainer {
  composes: hover-container from '../../styles/modules/hover.css';
  padding: 5px 5px 0px 10px;
  margin: 10px;
}

.titleContainer:hover {
  background-color: #334752;
}

.deliverableIconContainer {
  float: left;
  margin-right: 20px;
  margin-top: 3px;
}

.title {
  overflow: hidden;
  max-height: 4.5rem;
  font-size: 1.5rem;
  font-family: Gotham-Book;
}

.actionIconContainer {
  display: flex;
  flex: none;
  margin-right: 10px;
}

.actionContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 35px;
  overflow: hidden;
  font-size: 1.438rem;
  font-family: Gotham-Medium;
  cursor: pointer;
}

.contextTitleContainer {
  margin-left: 35px;
  height: 2.7rem;
  overflow: hidden;
  line-height: 2.7rem;
  font-family: Gotham-Light;
  font-size: 1.563rem;
  color: #8C969f;
}

.bottomRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  margin-top: 2em;
  padding: 0px 20px;
  margin-bottom: 1.87em;
}

.dueDateContainer {
  max-width: 15ch;
  padding: 5px;
  margin-top: 2em;
  margin-left: 55px;
  background-color: #334752;
  z-index: 2;
}

.dueDateOverdueContainer {
  composes: dueDateContainer;
  color: #f2695d;
}

.assignee {
  justify-content: flex-end;
}

.dueDateContainer input,
.dueDateOverdueContainer input {
  text-align: center;
  font-family: Gotham-Medium;
  font-size: 1.25rem;
  width: 100%;
  padding: 0;
  margin: 0;
}