.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6.563rem;
  background-color: #130F22;
}

.rootHiddenOnMobile {
  composes: root;
  composes: hidden-xs from global;
}

.rootShow {
  display: inline-block;
}

.organizationWrapper {
  display: inline-block;
  padding: 0;
}

.organizationWrapper a {
  text-decoration: none;
}

.otherOrganizations {
  display: none;
}

.organizationWrapper:hover .otherOrganizations {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 31rem;
  max-height: 30rem;
  overflow-y: auto;
  background-color: #3d5863;
  font-size: 1.5rem;
}

.organizationWrapper:hover .rootShow {
  display: none;
}
.notification {
  display: inline-block;
  width: 3.375rem;
  height: 3.375rem;
  min-width: 3.375rem;
  line-height: 3.375rem;
  margin: 0 2rem 0 0;
  background-image: url('/icons/notification_icon.svg');
  background-size: 100% 100%;
}

.organizationName {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-family: Gotham-Book;
  color: #ffffff;
}

.currentOrganizationIcon {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  padding: 1.5rem 2.75rem;
  cursor: pointer;
}

.currentOrganizationIconContainer {
  display: inline-block;
}

.organizationListContainer {
  display: flex;
  flex-direction: row;
  margin: 0 1.5rem;
  padding: 1.5rem 0;
  border-top: 1px solid silver;
}

.organizationList {
  display: flex;
  flex: 1;

  padding: 1.5rem 0;
  flex-direction: column;
  overflow-y: auto;
  /*align-items: center;*/
  /*justify-content: flex-start;*/
}

.menuItem {
  display: flex;
  flex: none;
  align-items: center;
  padding: 1rem 1.25rem;
}