.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.root:hover {
  background-color: #dddddd;
}
.userContainer {
  order: 2;
  max-height: 4rem;
  font-family: Gotham-Book;
  font-size: 1.375rem;
  line-height: 1.875rem;
  color: #616B72;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.status {
  order: 1;
  margin-right: 10px;
}