.root {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px dashed #eeeeee;
}

.root:last-child {
  border-bottom: 0;
}

.root:hover {
  background-color: #dddddd;
}

.selected {
  composes: fa fa-check fa-lg from global;
  color : #89949E;
}

.unselected {

}

.userContainer {
  padding: 0;
  display: inline-block;
  margin: 5px 5px 5px 0;
  overflow: auto;
  width: 350px;
}

.status {
  display: inline-block;
  width: 40px;
  vertical-align: top;
}