.root {
  padding: 20px 0px;
  background-color: #505964;
  color : #89949E;
  min-height: 60px;
}

.deliverableIconContainer {
  display: inline-block;
  padding: 0 20px 0 30px;
}

.titleContainer {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color : white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  -ms-word-break: break-all;
  word-break: break-word;
}

.close {
  display: inline-block;
  text-align: right;
  color: white;
  float: right;
  margin-right: 50px;
}

.close:hover {
  color: white;
}
