.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 4.625rem;
  background-color: #505964;
  color : #89949E;
}

.deliverableIconContainer {
  flex: none;
  padding: 0 20px 0 30px;
}

.titleContainer {
  flex: 1;
  font-size: 1.688rem;
  font-family: Gotham-Book;
  color : white;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  -ms-word-break: break-all;
  word-break: break-word;
}

.closeLinkContainer {
  height: 1.250rem;
  padding-left: 10px;
}

.close {
  font-size: 1.250rem;
  font-family: Gotham-Book;
  color: white;
  margin-right: 25px;
}

.close:hover {
  color: white;
}
