.common {
  display: inline-block;
  background: no-repeat center;
}

.selected {
  composes: common;
  background-image: url("/icons/select-icon-selected.png");
}

.unselected {
  composes: common;
  background-image: url("/icons/select-icon-unselected.png");
}

.normal {
  background-size: 2.75rem 2.75rem;
  width: 2.75rem;
  height: 2.75rem;
}
