.agendaItem {
  background: #ffffff;

}

.deliverable {
  background: #ffffff;
  background-color: #505964;
}

.close {
  composes: close from global;
  padding: 5px;
  margin-right: 10px;
  font-weight: 100;
  font-size: 24px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
  text-shadow: none;
}

/* Moved from ConversationObjectList*/

.back-to-conversation-link {
  composes: close from global;
  padding: 5px;
  margin-right: 10px;
  font-weight: 100;
  font-size: 24px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
  text-shadow: none;
  /*z-index: 3000;*/
}

.back-to-conversation-icon {
  composes: fa fa-times fa-lg pull-right from global;
  color: #ffffff;
}

.user-icon {
  composes: fa fa-user fa-lg from global;
  color: #999999;
  padding: 10px;
}

.conversation-title-container:hover .conversation-close-button{
  display: inline;
}

.conversation-close-button {
  display: none;
  padding: 12px 10px;
  float: left;
}

.conversation-close-icon {
  composes: fa fa-times from global;
}
