.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.spinner {
  background-image: url('/icons/logo_sm.png');
  background-repeat: no-repeat;
  width: 8em;
  height: 8em;
  background-size: 8em 8em;
  animation: fade 2s infinite linear;
}

@keyframes fade {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
