.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 100;
}

.spinner {
  background-image: url('/icons/logo_sm.svg');
  background-repeat: no-repeat;
  width: 8em;
  height: 8em;
  background-size: 8em 8em;
  animation: fade 1.5s infinite linear;
}

@keyframes fade {
  0%   { opacity: 0.2; }
  50%  { opacity: 1; }
  100% { opacity: 0.2; }
}
