.root {
  flex: 1;
  color: #415764;
  font-family: Gotham-Book;
  font-size: 1.375rem;
  max-height: 250px;
  overflow: auto;

  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin: 5px 5px 5px 0;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  max-width: 600px;
}

.root:global(.public-DraftEditor-content) {
  min-height: 32px;
}
