.root {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  color : #89949E;
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 6.563rem;
}

.root:hover{
  background-color: #eeeeee;
}

.contentWrapper {
  display: table-cell;
  width: 100%;
  padding-right: 50px;
}

.content {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-right: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;

  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.content a {
  text-decoration: none;
}

.userName {
  font-weight: 600;
}

.agendaItemLabel {
  font-family: Gotham-Book;
  font-size : 1.375rem;
  line-height : 1.875rem;
  letter-spacing : 0.014rem;
  color : #8C9295;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: #57C1E8;
  font-family: Gotham-Book;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #E6E3E2;
  min-height: 4.563rem;
  margin-top: 1.875rem;
}

.title:hover {
  color: #57C1E8;
}

.timeContainer {
  font-family: Gotham-Book;
  font-size: 1rem;
  line-height : 4rem;
  color : #8C9295;
}

.icon {
  margin-left: 8px;
}

.textContainer {
  padding: 10px 0;
}