.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0px 0px 1px 0px;

  background-color: #ffffff;
  color : #89949E;
}

.card-selected {
  composes: card;
  composes: blue-background from '../theme.css';
  /*border: 5px solid #ffffff;*/
  background-color: #57C1E8;
  color: #FFFFFF;
}

