.root {

}

.name {
  margin-left: 5px;
}

.email {
  margin-left: 5px;
}

.user-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  color : #89949E;
}

.user-title-normal {
  composes: user-title;
  height: 30px;
  line-height: 30px;
}

.user-title-large {
  composes: user-title;
  height: 40px;
  line-height: 40px;
}

.circle-badge {
  composes: blue-background from '../../styles/theme.css';
  display: inline-block;
  border-radius: 50%/50%;
  background-color: #57C1E8;
  text-align: center;
  color: #ffffff;
}


.circle-badge-normal {
  composes: circle-badge;
  width: 30px;
  height: 30px;
  line-height: 30px;
  float: left;
}

.circle-badge-large {
  composes: circle-badge;
  width: 40px;
  height: 40px;
  font-size: larger;
  line-height: 40px;
}

.circle-badge-online {
  composes: circle-badge;
  background-color: #39819B;
  opacity: 0.8;
}


.circle-badge-normal-online {
  composes: circle-badge-normal;
  background-color: #39819B;
  opacity: 0.8;
}

.circle-badge-large-online {
  composes: circle-badge-large;
  background-color: #39819B;
  opacity: 0.8;
}
