%h3
  = link_to @organization, @organization, class: 'white-color'
  %i.fa.fa-angle-right
  = link_to @conversation, @conversation, class: 'white-color'
  %i.fa.fa-angle-right
  Edit
%br

= render 'form'
