#js-conversation{data: {conversation_id: @conversation.id}}
#js-organization{data: {organization_id: @conversation.organization.id}}
#js-current-user{data: {id: current_user.id}}

= react_component('Root', {unseenObjects: @unseen_objects_json, conversationId: @conversation.id, conversationMembers: @conversation_members_json, users: @users_json, currentUser: {id: current_user.id}, currentOrganization: @current_organization_json, currentConversation: @conversation, agendaItems: @agenda_items_json, deliverables: @deliverables_json}, {prerender: false} )
