#js-conversation{data: {conversation_id: @conversation.id}}
#js-organization{data: {organization_id: @conversation.organization.id}}

-#%p
-#  %b Organization:
-#  = @conversation.organization
-#%p
-#  %b Conversation:
-#  = @conversation.title
= react_component('ConversationRoot', {users: @users_json, currentUser: {id: current_user.id}, currentOrganization: @current_organization_json, currentConversation: @conversation, agendaItems: @agenda_items_json, deliverables: @deliverables_json}, {prerender: false} )

= link_to 'Edit', edit_conversation_path(@conversation)
\|
= link_to 'Back', organization_conversations_path(@conversation.organization)
