#js-conversation{data: {conversation_id: @conversation.id}}
#js-organization{data: {organization_id: @conversation.organization.id}}

-#%p
-#  %b Organization:
-#  = @conversation.organization
-#%p
-#  %b Conversation:
-#  = @conversation.title
= react_component('ConversationRoot', {users: @users_json, currentUser: {id: current_user.id}, currentConversation: {id: @conversation.id}, agendaItems: @agenda_items_json, comments: @comments_json, deliverables: [{id: 1, body: "Implement React Components for Agenda Items", conversationTitle: "React Implementation", assignee: "Aniruddha Ujlambkar"},{id: 2, body: "Implement Agenda Discussion View with Dynamic Data", conversationTitle: "Agenda Discussion within a conversation", assignee: "Günter Glueck"}, {id: 3, body: "Review UI wireframes and update Trello", conversationTitle: "Product Review", assignee: "Aniruddha Ujlambkar"}]}, {prerender: false} )

= link_to 'Edit', edit_conversation_path(@conversation)
\|
= link_to 'Back', @conversation.organization
