.root {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: stretch;
  border-left: 1px solid silver;
}

.root>div {
  padding-left: 30px;
  padding-right: 30px;
  line-height: 100px;
}

.rootOption>div:hover {
  background-color: #415764;
}

.option {
}

.option:hover {
  background-color: #415764;
}

.caretLeft {
  display: inline-block;
  background: url('/icons/caret-left.png') no-repeat;
  width: 7px;
  height: 12px;
}

.caretRight {
  display: inline-block;
  background: url('/icons/caret-right.png') no-repeat;
  width: 8px;
  height: 14px;
}