.root {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  align-items: stretch;
}

.separator {
  margin-top: 22px;
  margin-bottom: 22px;
  border-left: 1px solid #E6E3E2;
}

.rootOpen {
  composes: root;
  background-color: #ECEFF0;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 100px;
}

.option:hover {
  background-color: #415764;
  color: white;
}

.caret {
  display: inline-block;
  align-self: center;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.caretLeft {
  composes: caret;
  background: url('/icons/caret-left.png') no-repeat;
  width: 7px;
  height: 12px;

}

.caretRight {
  composes: caret;
  background: url('/icons/caret-right.png') no-repeat;
  width: 8px;
  height: 14px;
}