.root {
  composes: hover-container from '../../styles/modules/hover.css';
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.edit-link {
  composes: hover-inline from '../../styles/modules/hover.css';
}

.title {
  font-weight: bold;
}

.status-open {
  composes: fa fa-check from global;
  composes: hover-inline from '../../styles/modules/hover.css';

  color: gray;
}

.status-resolved {
  composes: fa fa-check from global;

  color: green;
}

.user-container {
  composes: col-xs-1 from global;
}

.content-container {
  composes: col-xs-11 zero-padding from global;
}

.agenda-item-icon {
  composes: fa fa-tag from global;

  width: 30px;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-top: 5px;

  text-align: right;
}

.time-container {
  composes: margin-xs-vertical text-muted from global;
}
