.root {
  padding: 20px 15px;
  margin: 0px;
  font-weight: 600;
}

.actions {
  display: none;
}

.root:hover .actions {
  display: inline;
}

.action {
  margin-left: 1em;

  font-size: smaller;
  color: #ffffff;
}

.action:hover {
  color: #ffffff;
}