.edit-link {
  composes: hover-over from '../../styles/modules/hover.css';
  -webkit-border-radius: 50%/50%;
  -moz-border-radius:50%/50% ;
  border-radius: 50%/50%;
  width: 20px;
  height: 20px;
  margin-top: -5px;
  background-color: #ffffff;
}

.edit-text-container {
  width: 100%;
  padding: 0;
}

.edit-text-form {
  width: 100%;
  padding: 0;
}

.edit-text-input {
  width: 100%;
  padding: 10px;
}

.persisted-text-container {
  position: relative;
  width: 100%;
  padding: 0;
  display: inline;
}

.persisted-text {
  display: inline-block;
  max-width: 90%;
  float: left;
  word-wrap: break-word;
}

.persisted-text-inverted {
  composes: persisted-text;
  color: #ffffff;
}

.edit-link-container {
  display: inline;
  float: left;
  margin-left: 5px;
}