.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  composes: hidden-xs from global;
  padding: 0px 15px;
  line-height: 6.438rem;
  font-family: Gotham-Book;
  font-size : 1.688rem;
  letter-spacing : 0.084rem;
  text-transform : uppercase;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 1rem 0;
  letter-spacing : 0.084rem;
}

.filterOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: Gotham-Book;
  font-size : 1.25rem;
  padding: 5px;
  cursor: pointer;
}

.filterOptionSelected {
  composes: filterOption;
  background-color: #415764;
}

.list {
  flex: 1;
  overflow: auto;
}