.root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  line-height: 6.438rem;
  font-family: Gotham-Book;
  font-size : 1.688rem;
  letter-spacing : 0.084rem;
  text-transform : uppercase;
}

.list {
  flex: 1;
  overflow: auto;
}