.root {
  padding-left: 3.75rem;
  padding-right: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.filler {
  flex: 1;
}

.charsHint {
  color: #8C9295;
  align-self: flex-end;
  min-width: 5rem;
  text-align: right;
}

.charsHintRed {
  composes: charsHint;
  color: #AE4D4B;
}

.composeHeader {
  display: inline-block;
  background-color: #415764;
  padding: 0.625rem 2.5rem 0.625rem 2.5rem;
}

.properties {
  composes: row;
  color: #415764;
  align-items: center;
  margin-top: 1.25rem;
}

.assigneeContainer {
  display: flex;
  flex-direction: row;
  margin-right: 6.25rem;
  align-items: center;
}

.dueOnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.assignLabel {
  margin-right: 1.25rem;
}

.dueOnLabel {
  margin-right: 1.25rem;
}

.dueOnWrapper {
  background-color: #ECEFF0;
  padding: 0.625rem;
  max-width: 11.25rem;
  font-family: Gotham-Book;
  font-size: 1.25rem;
}

.inputRow {
  composes: row;
  composes: row;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  color: #415764;
}

.deliverableInput {
  width: 100%;
  border: none;
  height: 25px;
  font-size: 12px;
  resize: none;
}

.deliverableInput:focus {
  outline: none;
}
