.root {
  padding-left: 32px;
  padding-right: 32px;
}

.row {
  display: flex;
  flex-direction: row;
}

.filler {
  flex: 1;
}

.form {
  composes: row;
  align-items: center;
  flex: 1;
  color: black;
  margin: 32px 32px 32px 0;
  font-size: 18px;
}

.form :global .react-mentions .control.textarea {
  border: 0;
}

.form :global .react-mentions {
  flex: 1;
  margin-left: 20px;
}

.composeHeader {
  display: inline-block;
  background-color: #415764;
  padding: 10px;
  padding-right: 40px;
}

.properties {
  composes: row;
  color: black;
  align-items: center;
  margin-top: 20px;
}

.assigneeContainer {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  align-items: center;
}

.dueOnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.assignLabel {
  margin-right: 20px;
}

.dueOnLabel {
  margin-right: 20px;
}

.dueOnWrapper {
  background-color: #ECEFF0;
  padding: 10px;
}