.root {
  padding-left: 32px;
  padding-right: 32px;
}

.row {
  display: flex;
  flex-direction: row;
}

.filler {
  flex: 1;
}

.form {
  flex: 1;
  color: black;
  margin: 32px 32px 32px 0;
}

.form :global .react-mentions .control.textarea {
  border: 1px solid green;
  border-bottom: 1px solid silver;
}

.composeHeader {
  display: inline-block;
  background-color: #415764;
  padding: 10px;
  padding-right: 40px;
}

.properties {
  composes: row;
  color: black;
}
