.root {
  display: inline-block;
  white-space: nowrap;
}

.root > ol, .root > ul {
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block;
  white-space: pre-wrap;
}

.root li {
  margin-left: 1.5em !important;
  display: inline-block;
  white-space: pre-wrap;
}

.root p {
  /*display: inline-block;*/
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
}
