.root {
  position: relative;
}

.default {
  composes: card from '../../styles/modules/card.css';
  composes: hover-container from '../../styles/modules/hover.css';
}
.selected {
  composes: card-selected from '../../styles/modules/card.css';
  composes: hover-container from '../../styles/modules/hover.css';
  background-color: #99cc99;
}

.row {
  position: relative;
  width: 100%;
  min-height: 2em;
  margin-bottom: 0.5em;
}

.content-container {
  width: 100%;
  padding-right: 30px;
}

.status-container {
  position: absolute;
  right: 0px;
  top: 0px;
}

.details-row {
  composes: row from global;
}

.user-container {
  composes: pull-left from global;
  padding: 0px 5px;
}

.due-on {
  composes: label label-info pull-right from global;
  padding: 5px;
}

.agenda-title-container {
  composes: pull-right from global;
  text-align: left;
}

.assignee {
  display: inline-block;
  width: 50%;
  padding: 0;
}

.comments-icon {
  composes: fa fa-comment-o from global;
}

.details-row1 {
  composes: col-xs-12 from global;
  padding: 0px 10px;
}

.details-row2 {
  composes: col-xs-12 from global;
  padding: 0px 15px;
}