.default {
  composes: card from '../../styles/modules/card.css';
  composes: hover-container from '../../styles/modules/hover.css';
}
.selected {
  composes: card-selected from '../../styles/modules/card.css';
  composes: hover-container from '../../styles/modules/hover.css';
  background-color: #99cc99;
}

.row {
  composes: row from global;
  height: 30px;
}

.content-container {
  composes: col-xs-10 from global;
}

.status-container {
  composes: col-xs-1 from global;
}

.details-row {
  composes: row from global;
}

.user-container {
  composes: col-xs-2 from global;
}

.agenda-title-container {
  composes: col-xs-10 from global;
  text-align: right;
}

.assignee {
  display: inline-block;
  width: 50%;
  padding: 0;
}

.comments-icon {
  composes: fa fa-comment-o from global;
}
