.root {
  composes: hover-container from '../../styles/modules/hover.css';
  position: relative;
  margin: 5px 0px;
  padding: 5px 0px;
  color : #89949E;
}

.rootArchived {
  composes: root;
  opacity: 0.5;
}

.userContainer {
  display: table-cell;
  min-width: 60px;
  max-width: 60px;
  padding: 0px 15px;
  vertical-align: top;
}

.timeContainer {
  color : #9aa5af;
  min-height: 23px;
  margin-top: 5px;
}

.deliverableIcon {
  composes: fa fa-tasks from global;
  float: left;
  padding: 5px 10px 0px 0px;
}

.contentContainer {
  position: relative;
  display: table-cell;
  width: 100%;
  margin: 0px;
  padding: 0px 30px 0px 0px;
}

.content {
  padding-right: 20px;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;

  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.actionDropdown {
  composes: hover-inline from '../../styles/modules/hover.css';
  position: absolute;
  display:none;
  margin-left: 1em;
  right: 15px;
  top: 0px;
}

.root:hover{
  background-color: #eeeeee;
}

.gearIcon {
  composes: fa fa-gear fa-lg text-muted from global;
  cursor: pointer;
}

.userName {
  font-weight: 600;
}

.deliverableLabel {
  font-weight: 600;
}

.title {
  color: #57C1E8;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.titleArchived {
  composes: title;
  cursor: default;
}

.resolvedStatus {
  composes: text-info pull-right from global;
}
