.root {
  composes: hover-container from '../../styles/modules/hover.css';
  width: 100%;
  position: relative;
  padding: 5px 40px 5px 0px;
}

.user-container {
  display: table-cell;
  /*height: 40px;*/
  width: 60px;
  padding: 0px 15px;
  vertical-align: top;
}

.row {
  composes: row from global;
  min-height: 2em;
}

.full-width {
  composes: col-sm-12 from global;
}

.title-container {
  /*padding-right: 80px;*/
  font-weight: 600;
  color : #89949E;
  text-align: left;
}

.title-container-inverted {
  composes: title-container;
  color: #ffffff;
}

.content-container {
  display: table-cell;
  width: 100%;
  padding: 10px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #E1F2FE;
  /*padding: 10px;*/

  /*border: 2px solid #eeeeee;*/
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/

  /*background-color: #ffffff;*/

}

.content-container-inverted {
  display: table-cell;
  width: 100%;
}

.status-container {
  composes: pull-right from global;
}

.meta-container {
  composes: row from global;
  margin: 0px;
  padding-top: 5px;
  border-top: 1px solid #ffffff;
}

.meta-container-row {
  composes: col-xs-12 from global;
}

.meta-content {
  composes: col-xs-12 col-md-6 from global;
  padding: 0px;
  color : #89949E;
}

.meta-content:last-of-type {
  text-align: right;
}

.meta-label {
  composes: text-muted from global;
  font-weight: 100;
}

.meta-label-inverted {
  composes: meta-label;
  color: #cccccc;
}

.time-container {
  color : #9aa5af;
}

.discuss-link {
  composes: hover-inline from '../../styles/modules/hover.css';
  composes: pull-right from global;
}

.discuss-link-hide {
  display: none;
}

.deliverable-icon {
  composes: fa fa-tasks from global;
  float: left;
  padding: 5px 10px 0px 0px;
}

.editable-user-container {
  composes: pull-right from global;
  border: none;
  box-shadow: none;
  padding: 0px;
  outline: none;
  border-width: 0px;
  background: transparent;
  cursor: pointer;
}

.user-label {
  composes: text-muted pull-right from global;
  padding: 5px 5px 0px 0px;
}

.due-date-container {
  composes: pull-right from global;
}

.editable-due-date-container {
  max-width: 100px;
  padding: 5px;
  box-shadow: none;
  border: none;
  outline: none;
  border-width: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #eeeeee;
  cursor: pointer;
}

.agenda-item-container {
}

.editable-agenda-item-container {
  max-width: 100px;
  padding: 5px;
  box-shadow: none;
  border: none;
  outline: none;
  border-width: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #eeeeee;
  cursor: pointer;
}

.due-on {
  font-weight: 600;
  color: #57C1E8;
}

.due-on-label {
  color: #89949e;
}

.due-on-label-inverted {
  color: #cccccc;
}