.hover-inline {
  display: none;
}

.hover-container:hover .hover-inline {
  display: inline;
}

.hover-over {
  display: none;
}

.hover-container:hover .hover-over {
  display: inline;
  position: absolute;
  top: 0px;
  right: 0px;
}
