.footer {
  position: fixed;
  bottom: 0px;
  left:0px;
  right:0px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  font-size: smaller;
  /*background-color: #326273;*/
  color: #ffffff;
  text-align: center;
}
