.footer {
  position: fixed;
  bottom: 0px;
  left:0px;
  right:0px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  font-size: smaller;
  /*background-color: #326273;*/
  color: #ffffff;
  text-align: center;
}

.spinnerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circleSpinner {
  margin: 50px;
  height: 28px;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid white;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
