.common {
  background: no-repeat center;
}

.gray {
  background-image: url("/icons/member-icon.png");
}

@media only screen
and (max-width: 1440px) {
  .normal {
    composes: common;
    background-size: 27px 27px;
    min-width: 27px;
    min-height: 27px;
  }
}

@media only screen
and (min-width: 1441px) {
  .normal {
    composes: common;
    background-size: 43px 43px;
    min-width: 43px;
    min-height: 43px;
  }
}



