.root {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
  font-family: Gotham-Book;
  font-size : 15px;
  letter-spacing : 0.625px;
  text-transform : uppercase;
  line-height: 45px;
  height: 45px;
}

.iconContainer {
  margin-left: 4px;
  margin-right: 26px;
  flex: 0;
}

.titleContainer {
  flex: 1;
}

.list {
  flex: 1;
  margin: 0px 10px 0px 0;
  overflow: auto;
}