.root {
  /*padding: 0px 10px;*/
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
  min-height: 6.438rem;
}

.iconContainer {
  margin-right: 20px;
}

.titleContainer {
  font-family: Gotham-Book;
  font-size : 1.688rem;
  letter-spacing : 0.084rem;
  text-transform : uppercase;
}

.list {
  flex: 1;
  /*margin: 0px 10px 0px 0;*/
  overflow: auto;
}
