.root {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 0px 15px;
  font-family: Gotham-Book;
  font-size : 1.688rem;
  letter-spacing : 0.084rem;
  text-transform : uppercase;
  line-height: 6.438rem;
}

.list {
  flex: 1;
  overflow: auto;
}
