.wrapper {
  /*display: flex;*/
  position: relative;
  /*min-height: 6.563rem;*/
}

.root {
  width: 100%;
  border-top: 1px solid #E6E3E2;
  background: white;
}

.newObjectsMarkerContainer {
  position: absolute;
  top: -2.5rem;
  left: 0;
  right: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.newObjectsMarker {
  display: flex;
  flex: none;
  flex-direction: row;
  justify-content: center;
  min-width: 11.375rem;
  height: 1.875rem;
  padding: 0px 10px;
  align-items: center;
  text-align: center;
  background-color: #eceff0;
  font-family: Gotham-Book;
  font-size: 1rem;
  color: #415764;
  border-radius: 1rem;
  cursor: pointer;
}

.caret {
  display: inline-block;
  align-self: center;
  text-align: center;
  margin: 0 0 0 2px;
  background: url('/icons/caret-down-gray-small.svg') no-repeat;
  width: .8rem;
  height: 0.4rem;
}
