.root {
  position: relative;
  cursor: pointer;
}

.default {
  composes: card from '../../styles/modules/card.css';
  composes: hover-container from '../../styles/modules/hover.css';
}
.selected {
  composes: card-selected from '../../styles/modules/card.css';
  composes: hover-container from '../../styles/modules/hover.css';
}

.row {
  position: relative;
  width: 100%;
  min-height: 2em;
  margin-bottom: 1em;
}

.content-container {
  width: 100%;
  padding-right: 30px;
  word-wrap: break-word;
  overflow: hidden;
}

.status-container {
  position: absolute;
  right: 0px;
  top: 0px;
}

.comments-icon {
  composes: fa fa-comment-o from global;
  vertical-align: bottom;
}

.deliverables-icon {
  composes: fa fa-tasks from global;
  margin-left: 2em;
  vertical-align: bottom;
}

.bottom-row {
  comoses: col-xs-12 from global;
  margin: 0px;
  padding-bottom: 5px;
}

.user-container {
  composes: pull-right from global;
}