.default {
  composes: card from '../../styles/modules/card.css';
  composes: hover-container from '../../styles/modules/hover.css';
}
.selected {
  composes: card-selected from '../../styles/modules/card.css';
  composes: hover-container from '../../styles/modules/hover.css';
}

.row {
  composes: row from global;
  min-height: 2em;
  margin-bottom: 1em;
}

.content-container {
  composes: col-xs-10 from global;
}

.status-container {
  composes: col-xs-1 from global;
}

.comments-icon {
  composes: fa fa-comment-o from global;
}
