.root {
  width: 100%;
}
.agenda-item-btn {
  composes: btn btn-xs from global;

  /*border: none;*/
}

.agenda-item-icon {
  composes: fa fa-tag text-muted from global;
}

.input-btn-group {
  position: absolute;
  right: 10px;
  top: 0px;
  /*float: right;*/
  z-index: 2;
  /*opacity: 0.8;*/
  display: inline;
}

.hide-input-btn-group {
  display: none;
}

.input-form {
  position: relative;
  display: table-cell;
  height: 40px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;
}

.input-container {
  width: 100%;
  padding: 0px 10px 0px 0px;
}

.input {
  width: 100%;
  min-height: 20px;
  max-height: 100px;
}

.user {
  display: table-cell;
  height: 40px;
  width: 60px;
  vertical-align: bottom;
  padding: 0px 15px 0px 15px;
}

.form-container {
  width: 100%;
  min-height: 70px;
  height: 70px;
  padding: 20px 0px 10px 0px;
  border: 0px solid #eeeeee;
  border-top-width: 1px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px #aaaaaa;
  -moz-box-shadow: 0px 0px 5px 0px #aaaaaa;
  box-shadow: 0px 0px 5px 0px #aaaaaa;
}

.comment-btn {
  composes: btn btn-xs from global;
  /*border: none;*/
}

.comment-icon {
  composes: fa fa-comment text-muted from global;
}

.deliverable-btn {
  composes: btn btn-xs from global;
  /*border: none;*/
}

.deliverable-icon {
  composes: fa fa-tasks text-muted from global;
}

.conversation-btn {
  composes: btn btn-xs from global;
  /*border: none;*/
}

.conversation-icon {
  composes: fa fa-comments-o text-muted from global;
}
