.root {
  max-width: 100%;
  font-family: Gotham-Book;
}

.root-inverted {
  max-width: 100%;
  border-radius: 50%/50%;
  border: 1px solid #ffffff;
}

.name {
  margin-left: 5px;
}

.email {
  margin-left: 5px;
}

.user-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  color : #89949E;
}

.circle-badge {
  composes: blue-background from '../../styles/theme.css';
  display: flex;
  flex-direction: row;
  flex: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%/50%;
  background-color: #ffffff;
  text-align: center;
  color: #57C1E8;
  border: 1px solid #57C1E8;
  float: left;
}

.user-title-normal {
  composes: user-title;
  height: 2.75rem;
  line-height: 2.75rem;
  font-size: 1rem;
}

.user-title-large {
  composes: user-title;
  height: 3.375rem;
  line-height: 3.375rem;
  font-size: 1.2rem;
}

.user-title-small {
  composes: user-title;
  height: 2.125rem;
  line-height: 2.125rem;
  font-size: .8rem;
}

.circle-badge-normal {
  composes: circle-badge;
  width: 2.75rem;
  height: 2.75rem;
  font-size: 1rem;
  line-height: 2.75rem;
}

.circle-badge-large {
  composes: circle-badge;
  width: 3.375rem;
  height: 3.375rem;
  font-size: 1.2rem;
  line-height: 3.375rem;
}

.circle-badge-small {
  composes: circle-badge;
  width: 2.125rem;
  height: 2.125rem;
  font-size: 0.8rem;
  line-height: 2.125rem;
}

.circle-badge-online {
  composes: circle-badge;
  background-color: #57C1E8;
  opacity: 0.8;
  color: #ffffff;
  border-width: 0px;
}


.circle-badge-normal-online {
  composes: circle-badge-normal;
  background-color: #57C1E8;
  opacity: 0.8;
  color: #ffffff;
  border-width: 0px;
}

.circle-badge-large-online {
  composes: circle-badge-large;
  background-color: #57C1E8;
  opacity: 0.8;
  color: #ffffff;
  border-width: 0px;
}

.circle-badge-small-online {
  composes: circle-badge-small;
  background-color: #57C1E8;
  opacity: 0.8;
  color: #ffffff;
  border-width: 0px;
}
