.default {
  position: relative;
  width: 100%;
  min-height: 10.688rem;
  margin: 0 0 5px 0;
  padding: 0;
}

.default:after {
  content: '';
  clear: both;
  visibility: hidden;
}

.unseen {
  composes: default;
  border: 1px solid #415764;
  background-color: transparent;
  color : #ffffff;
}

.seen {
  composes: unseen;
  opacity: 0.7;
}

.selected {
  composes: default;
  border: 1px solid #38ACD4;
  background-color: #38ACD4;
  color : #ffffff;
}

.resolved {
  composes: seen;
}

.leftStrip {
  float: left;
  width: 0.768rem;
  min-height: 10.5rem;
  background-color: #88d3df;
}

.selected .leftStrip {
  background: none;
  float: left;
  width: 0.768rem;
  min-height: 10.5rem;
  border-left: 0.768em solid #38ACD4;
}

.contentContainer {
  overflow: hidden;
  height: 6rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  font-family: Gotham-Book;
}

.contentContainer:after {
  content: '';
  clear: both;
  visibility: hidden;
}

.selected .contentContainer {
  font-family: Gotham-Medium;
}

.titleContainer {
  composes: hover-container from '../../styles/modules/hover.css';
  display: flex;
  align-items: flex-start;
  padding: 5px 8px 5px .188rem;
  margin: 10px 10px 10px 0;
  font-size: 1.5rem;
}

.selected .titleContainer:hover {
  background-color: #3297BE;
}

.agendaItemIconContainer {
  display: flex;
  flex: none;
}

.title {
  overflow: hidden;
  max-height: 4.5rem;
  font-family: Gotham-Book;
  flex: 1;
}

.archiveContainer {
  display: flex;
  flex-direction: row;
  flex: none;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2.5rem;
  font-family: Gotham-Medium;
  font-size: 1.438rem;
  cursor: pointer;
}

.statusContainer {
  display: flex;
  flex-direction: row;
  flex: none;
  align-items: center;
  justify-content: flex-start;
  margin-left: .625rem;
  font-family: Gotham-Medium;
  cursor: pointer;
  font-size: 1.438rem;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  align-items: center;
  justify-content: flex-end;
}

.resolvedIcon {
  display: flex;
  flex-direction: row;
  flex: none;
  align-items: center;
  justify-content: flex-end;
  margin: 0 10px 0 5px;
}

.selected .resolvedIcon {
  cursor: pointer;
}

.actionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  /*overflow: hidden;*/
  margin: .625rem 1.25rem;
  font-size: 1.5rem;
}

.actions {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contextTitle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 2rem;
  font-family: Gotham-Light;
  font-size: 1.25rem;
  color: #8C969f;
}

.owner {
  flex: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 10px;
}

.ship {
  composes: fa fa-gift from global;
  padding: 10px;
  z-index: 100;
  cursor: pointer;
}
