/*laptop*/
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .baseFont {
    font-size: 9px;
  }
}
/*laptop retina*/
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2) {
  .baseFont {
    font-size: 10px;
  }
}

/*ipad 3,4 retina*/
@media only screen
and (min-device-width: 1536px)
and (max-device-width: 2048px)
and (-webkit-min-device-pixel-ratio: 2) {
  .baseFont {
    font-size: 16px;
  }
}

/*ipad 1,2*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
  .baseFont {
    font-size: 9px;
  }
}

.default {
  composes: baseFont;
  position: relative;
  width: 100%;
  height: 10.688em;
  margin: 0 0 5px 0;
  padding: 0;
}

.default:after {
  content: '';
  clear: both;
  visibility: hidden;
}

.unseen {
  composes: default;
  border: 0.0063em solid #415764;
  background-color: transparent;
  color : #ffffff;
}

.seen {
  composes: unseen;
  opacity: 0.5;
}

.selected {
  composes: default;
  border: 0.0063em solid #38ACD4;
  background-color: #38ACD4;
  color : #ffffff;
}

.leftStrip {
  width: 0.768em;
  height: 100%;
  float: left;
  background-color: #88d3df;
}

.selected .leftStrip {
  background: none;
  border-left: 0.768em solid #38ACD4;
}

.contentContainer {
  overflow: hidden;
  height: 5.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  font-family: Gotham-Book;
}

.contentContainer:after {
  content: '';
  clear: both;
  visibility: hidden;
}

.selected .contentContainer {
  font-family: Gotham-Medium;
}

.titleContainer {
  composes: hover-container from '../../styles/modules/hover.css';
  padding: 0.313em 0.313em 0 0.313em;
  margin: 0.625em 0.625em 0.625em 0.313em;
}

.selected .titleContainer:hover {
  background-color: #3297BE;
}

.seen .titleContainer:hover,
.unseen .titleContainer:hover {
  background-color: #334752;
}

.agendaItemIconContainer {
  float: left;
  margin-right: 1.25em;
  margin-top: 0.5em;
}

.title {
  overflow: hidden;
  max-height: 3.75em;
  font-size: 1.5em;
}

.archiveContainer {
  float: left;
  font-family: Gotham-Medium;
  font-size: 1.438em;
  cursor: pointer;
}

.statusContainer {
  float: right;
  font-family: Gotham-Medium;
  cursor: pointer;
  font-size: 1.438em;
}

.iconContainer {
  margin-right: 0.313em;
}

.actionContainer {
  overflow: hidden;
  margin: 1.25em 2.25em;
  /*height: 4em;*/
}