.root {
  width: 100%;
  margin-bottom: 28px;
  background-color: white;
  border: 0 solid #eeeeee;
  border-top-width: 1px;
}

.input-form {
  display: table-cell;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.agenda-item-btn {
  composes: btn btn-xs from global;
  color : #89949E;
}

.agenda-item-btn-active {
  composes: agenda-item-btn;
  composes: active from global;
}

.agenda-item-icon {
  composes: fa fa-tag text-muted from global;
}

.buttonsContainer {
  text-align: right;
  margin-right: 10px;
}

.input-btn-group {
  /*display: inline;*/
  visibility: visible;
}

.hide-input-btn-group {
  visibility: hidden;
}

.input-container {
  width: 100%;
  padding: 0 10px 0 0;
  color: black;
}

.input {
  width: 100%;
  min-height: 20px;
  max-height: 100px;
  resize: vertical;
}

.user {
  display: table-cell;
  height: 40px;
  width: 60px;
  vertical-align: bottom;
  padding: 0 15px 0 15px;
}

.form-container {
  width: 100%;
  min-height: 70px;
  height: 100%;
  padding: 10px 0 10px 0;
}

.input-container {
  /*position: absolute;*/
  /*bottom: 0;*/
}

.comment-btn {
  composes: btn btn-xs from global;
  color : #89949E;
}

.comment-btn-active {
  composes: comment-btn;
  composes: active from global;
}

.comment-icon {
  composes: fa fa-comment text-muted from global;
}

.deliverable-btn {
  composes: btn btn-xs from global;
  color : #89949E;
}

.deliverable-btn-active {
  composes: deliverable-btn;
  composes: active from global;
}

.deliverable-icon {
  composes: fa fa-tasks text-muted from global;
}

.conversation-btn {
  composes: btn btn-xs from global;
  color : #89949E;
}

.conversation-btn-active {
  composes: conversation-btn;
  composes: active from global;
}

.conversation-icon {
  composes: fa fa-comments-o text-muted from global;
}
