.root {
  width: 100%;
  padding: 20px 0px;
  padding-left: 1rem;
  /*border: 1px solid #ffffff;*/
  /*border-width: 1px 0px;*/
  color : #89949E;
}

.userContainer {
  display: table-cell;
  min-width: 80px;
  max-width: 80px;
  padding: 0 15px;
  vertical-align: top;
}

.contentContainer {
  position: relative;
  display: table-cell;
  width: 100%;
  margin: 0;
  padding: 0 30px 0 0;
}

.timeContainer {
  width: 100%;
  padding: 0;
  color : #9aa5af;
}

.optionsMenu {
  position: absolute;
  display: none;
  margin-left: 1em;
  right: 15px;
  top: 0;
}

.root:hover .optionsMenu {
  display:block;
}

.root:hover {
  background-color: #eeeeee;
}

.commentBody {
  padding-top: 5px;
  padding-right: 20px;
  margin-bottom: 10px;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;

  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
