.root {
  width: 100%;
  padding: 5px 0;
  border: 1px solid #ffffff;
  border-width: 1px 0;
  color : #89949E;
}

.userContainer {
  display: table-cell;
  min-width: 60px;
  max-width: 60px;
  padding: 0 15px;
  vertical-align: top;
}

.contentContainer {
  position: relative;
  display: table-cell;
  width: 100%;
  margin: 0;
  padding: 0 30px 0 0;
}

.timeContainer {
  width: 100%;
  padding: 0;
  color : #9aa5af;
}

.gearIcon {
  composes: fa fa-gear fa-lg text-muted from global;
  cursor: pointer;
}

.optionsMenu {
  position: absolute;
  display:none;
  margin-left: 1em;
  right: 15px;
  top: 0;
}

.root:hover .optionsMenu {
  display:block;
}

.root:hover {
  border: 1px dashed #f0f0f0;
  border-width: 1px 0;
}

.commentBody {
  padding-right: 20px;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;

  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
