.common {
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%/50%;
  -moz-border-radius: 50%/50%;
  border-radius: 50%/50%;
  display: inline-block;
}

.default {
  composes: common;
  background: none;
  border-color: #ffffff;
}

.overdue {
  composes: common;
  background-color: #F2695D;
  border-color: #F2695D;
}

.dueToday {
  composes: common;
  background: none;
  border-color: #F2695D;
}

.completed {
  composes: common;
  background-color: #65C292;
  border-color: #65C292;
}

.inverted {
  composes: default;
  border-color: #130F22;
}

@media only screen
and (max-width: 1440px) {
  .normal {
    width: 13px;
    height: 13px;
  }

  .large {
    width: 20px;
    height: 20px;
  }

}

@media only screen
and (min-width: 1441px) {
  .normal {
    width: 21px;
    height: 21px;
  }

  .large {
    width: 31px;
    height: 31px;
  }
}

