.common {
  background: no-repeat center;
  padding: 10px 0px;
}

.normal {
  composes: common;
  background-image: url("/icons/deliverable-icon-gray.png");
  background-size: 35px 15px;
  padding-left: 38px;
}

.inverted {
  composes: common;
  background-image: url("/icons/deliverable-icon-white.png");
  background-size: 35px 15px;
  padding-left: 38px;
}

.small {
  composes: normal;
  background-size: 28px 13px;
  padding-left: 33px;
}

.large {
  composes: normal;
  background-size: 37px 17px;
  padding-left: 42px;
}

.x-large {
  composes: normal;
  background-size: 44px 20px;
  padding-left: 49px;
}

.inverted-small {
  composes: inverted small;
}

.inverted-large {
  composes: inverted large;
}

.inverted-x-large {
  composes: inverted x-large;
}