.root {
  composes: hover-container from '../../styles/modules/hover.css';
  composes: row from global;
  margin-top: 15px;
  margin-left: 12px;
  margin-bottom: 5px;
}

.user-container {
  composes: col-xs-1 from global;
}

.content-container {
  composes: col-xs-10 zero-padding from global;
}

.status-container {
  composes: col-xs-1 from global;
}

.title {
  font-weight: bold;
}

.time-container {
  composes: margin-xs-vertical text-muted from global;
}
