.root {
  composes: hover-container from '../../styles/modules/hover.css';
  width: 100%;
  position: relative;
  margin: 5px 0px;
  padding: 5px 30px 5px 0px;
  border: 1px solid #ffffff;
  border-width: 1px 0px;
}

.root-on-mouse-out {
  composes: root;
}

.root-on-mouse-over {
  composes: root;
  border: 1px dashed #f0f0f0;
  border-width: 1px 0px;
}

.user-container {
  display: table-cell;
  height: 40px;
  width: 60px;
  padding: 0px 15px;
  vertical-align: top;
}

.title {
  font-weight: bold;
}

.content-container {
  display: table-cell;
  width: 100%;
  padding: 10px;

  border: 2px solid #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.status-container {
  position: absolute;
  top: 10px;
  right: 40px;
}

.time-container {
  composes: text-muted from global;
  margin: 5px 40px 5px 60px;
}
