.root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.center-panel {
  margin-top: 0px;
}

.center-panel-list {
  overflow: auto;
}

.header-container {
  composes: hover-container from '../../styles/modules/hover.css';
  padding: 0px 10px;
  line-height: 45px;
  position: relative;
  font-family: Gotham-Book;
  font-size : 15px;
  letter-spacing : 0.5px;
  text-transform : uppercase;
}

.action {
  composes: hover-inline from '../../styles/modules/hover.css';
}