.root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.center-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.center-panel-list {
  overflow: auto;
}

.header-container {
  composes: hover-container from '../../styles/modules/hover.css';
  width: 100%;
  flex: none;
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
  font-family: Gotham-Book;
  font-size : 1.688rem;
  letter-spacing : 0.084rem;
  text-transform : uppercase;
  height: 6.438rem;
  align-items: center;
}

.title {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.action {
  composes: hover-inline from '../../styles/modules/hover.css';
  /*display: flex;*/
  justify-content: flex-end;
  cursor: pointer;
}