body {
  background-color: #130F22;
  color: white;
  padding: 80px 5% 80px 5%;
  font-family: Arial;
  font-size: 20px;
}

img.logo {
  margin-bottom: 40px;
  width: 200px;
}

a {
  font-size: 26px;
  text-transform: uppercase;
  padding: 20px 30px 20px 30px;
  background-color: #65C192;
  color: white;
  text-decoration: none;

  &:hover {
    background-color: #65C192;
    color: white;
    text-decoration: none;
  }
}
