.organization-hover-action {
  margin-left: 1em;
  color: #ffffff;
}

.organization-action {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: smaller;
  line-height: normal;
  line-height: 30px;
}

.organization-index-header {
  padding: 0px 15px;
  margin-bottom: 1em;
  font-weight: 600;
}