.root {
  padding-left: 3.75rem;
  padding-right: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.agendaItemIcon {
  color: #415764;
  font-size: 1.4rem;
  margin-left: -0.7rem;
  margin-bottom: -0.25rem;
}

.filler {
  flex: 1;
}

.inputRow {
  composes: row;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.charsHint {
  color: #8C9295;
  align-self: flex-end;
  min-width: 5rem;
  text-align: right;
}

.charsHintRed {
  composes: charsHint;
  color: #AE4D4B;
}

.composeHeader {
  display: inline-block;
  background-color: #415764;
  padding: 0.625rem 2.5rem 0.625rem 2.5rem;
}

.agendaInput {
  width: 100%;
  border: none;
  height: 25px;
  font-size: 12px;
  resize: none;
  color: #415764;
}

.agendaInput:focus {
  outline: none;
}
