.root {
  padding-left: 3.75rem;
  padding-right: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.agendaItemIcon {
  align-self: flex-end;
  color: #415764;
  font-size: 1.4rem;
  margin-left: -0.7rem;
  margin-bottom: -0.25rem;
}

.filler {
  flex: 1;
}

.formRow {
  composes: row;
  padding-bottom: 4.75rem;
}

.form {
  flex: 1;
  color: #415764;
  margin: 2rem 2rem 0 0;
  font-size: 1.375rem;
}

.form :global .react-mentions .control.textarea {
  border: 0;
}

.charsHint {
  color: #8C9295;
  align-self: flex-end;
  min-width: 5rem;
  text-align: right;
}

.charsHintRed {
  composes: charsHint;
  color: #AE4D4B;
}

.composeHeader {
  display: inline-block;
  background-color: #415764;
  padding: 0.625rem 2.5rem 0.625rem 2.5rem;
}
