.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6.563rem;
  background-color: #130F22;
}

.rootHiddenOnMobile {
  composes: root;
  composes: hidden-xs from global;
}

.organizationWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3.125rem;
}

.organizationWrapper a {
  text-decoration: none;
}

.otherOrganizations {
  display: none;
  margin-left: 24px;
}

.organizationWrapper:hover .otherOrganizations {
  display: flex;
}

.profileDropdown {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.notification {
  width: 3.375rem;
  height: 3.375rem;
  margin: 0 2rem 0 0;
  background-image: url('/icons/notification_icon.svg');
  background-size: 100% 100%;
}