.common {
  background: no-repeat center;
  padding: 10px 0px;
}

.normal {
  composes: common;
  background-image: url("/icons/agenda-item-icon-gray.png");
  background-size: 3px 15px;
  padding-left: 8px;
}

.inverted {
  composes: common;
  background-image: url("/icons/agenda-item-icon-white.png");
  background-size: 3px 15px;
  padding-left: 8px;
}

.small {
  composes: normal;
  background-size: 3px 13px;
  padding-left: 8px;
}

.large {
  composes: normal;
  background-size: 4px 17px;
  padding-left: 9px;
}

.x-large {
  composes: normal;
  background-size: 5px 20px;
  padding-left: 8px;
}

.inverted-small {
  composes: inverted small;
}

.inverted-large {
  composes: inverted large;
}

.inverted-x-large {
  composes: inverted x-large;
}