.common {
  background: no-repeat center;
  display: inline-block;
}

.gray {
  composes: common;
  background-image: url("/icons/agenda-item-icon-gray.png");
}

.white {
  composes: common;
  background-image: url("/icons/agenda-item-icon-white.png");
}

@media only screen
and (max-width: 1440px) {
  .small {
    composes: common;
    background-size: 3px 13px;
    min-width: 3px;
    min-height: 13px;
    max-height: 13px;
  }

  .normal {
    composes: common;
    background-size: 3px 15px;
    min-width: 3px;
    min-height: 15px;
    max-height: 15px;
  }

  .large {
    composes: common;
    background-size: 4px 17px;
    min-width: 4px;
    min-height: 17px;
    max-height: 17px;
  }
  
  .xLarge {
    composes: common;
    background-size: 5px 28px;
    min-width: 5px;
    min-height: 28px;
    max-height: 28px;
    // background-image: url("/icons/agenda-item-icon-gray-xLarge.png");
  }
}

@media only screen
and (min-width: 1441px) {
  .small {
    composes: common;
    background-size: 4px 16px;
    min-width: 4px;
    min-height: 16px;
    max-height: 16px;
  }
  
  .normal {
    composes: common;
    background-size: 4px 18px;
    min-width: 4px;
    min-height: 18px;
    max-height: 18px;
  }
  
  .large {
    composes: common;
    background-size: 6px 24px;
    min-width: 6px;
    min-height: 24px;
    max-height: 24px;
  }

  .xLarge {
    composes: common;
    background-size: 8px 30px;
    min-width: 8px;
    min-height: 30px;
    max-heigth: 30px;
    // background-image: url("/icons/agenda-item-icon-gray-xLarge.png");
  }
}

