%p
  = 'Hi,'
%p
  - if @resource.organizations.any?
    = "You've been invited to join #{@resource.organization_members.order(:updated_at).last.organization.name} on Sizung."
  - else
    You've been invited to Sizung.

%p
  Click on the link below to join.

%p
  %br
  %br
  = link_to 'Join', accept_invitation_url(@resource, invitation_token: @token)

