%p
  = "Hi #{@resource.first_name_or_email},"

%p
  We're here to help.
%p
  Here is your password reset link.

%p
  %br
  %br
  = link_to 'reset', edit_password_url(@resource, reset_password_token: @token), class: 'actionLink'

